
<div id="dvLoading"></div>
<div id="flip"><h1>WELCOME</h1></div>
<div id="panel">J</div>


<div id="menu">
<ul id='welcomes'>
<nav>
  <li><a class="link" href="/animals/new">ABOUT</a>
  <li><a class="link" href="/animals">PORTFOLIO</a></li>
  <li><%= link_to 'MY BLOG', controller: 'articles' %>
  <li><a class="link" href="/articles/new">ADD TO BLOG</a></li>
  <li><a class="link" href="/animals">ADSGSDG</a></li>
</nav>
</ul>
</div>


