<h1>Welcome</h1>
<div id="menu">
<ul id='welcomes'>
<nav>
  <li><a class="link" href="/animals/new">About</a> /
  <li><a class="link" href="/animals">Portfolio</a></li>
  <li><%= link_to 'My Blog', controller: 'articles' %></li>/
  <li><a class="link" href="/articles/new">Write a blog</a></li>
  <li><a class="link" href="/animals/new">Be creative,What can you make?</a></li> /
  <a class="link" href="/animals">Are these animals?</a></li></h2>
</nav>
</a>
</ul>
</div>


