
<div id="dvLoading"></div>
<div id="flip"><h1>WELCOME</h1></div>
<div id="panel">J</div>
<div class="text-box">
  <h2> Juliet Brown. 2015</h2>
</div>

<div class="box">
    <img src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Instagram-icon.png" class="resize" width="250"/>
</div>

<div id="menu">
<ul id='welcomes'>
<nav>
  <li><a class="link" href="/animals/new">ABOUT</a>
  <li><a class="link" href="/animals">PORTFOLIO</a></li>
  <li><%= link_to 'BLOG', controller: 'articles' %>
  <li><a class="link" href="/articles/new">ADD TO BLOG</a></li>
  <li><a class="link" href="/animals">ADSGSDG</a></li>
</nav>
</ul>
</div>


