<h1>Welcome</h1>
<div class="main">
</div>

  <nav id="navMobile">
    <div id="bgNaviMobile"></div>
    <div id="mobileContent2">
      <div id="scrollingSection2">
        <div id="lineM1" class="mLine"></div>
        <div id="lineM2" class="mLine"></div>
        <div id="lineM3" class="mLine"></div>
        <div id="txtM1" class="mB">ABOUT</div>
        <div id="txtM2" class="mB">BLOG</div>
        <div id="txtM3" class="mB">CREATE </div>
        <div id="txtM4" class="mB">CONTACT</div>

        <a id="rollM1" class="rollM" href="about"></a>
        <a id="rollM2" class="rollM" href="stage_tv"></a>
        <a id="rollM3" class="rollM" href="events_fairs"></a>
        <a id="rollM4" class="rollM" href="contact"></a>
      </div>
    </div>
  </nav>
