<h1>Welcome to Art Cart....You can buy anything</h1>

<nav>
  <a class="link" href="/animals/new">Art Cart</a> /
  <a class="link" href="/articles/new">Write a blog</a>/
  <a class="link" href="/animals/new">be creative,What can you make?</a> /
  <a class="link" href="/animals">Are these animals?</a>
</nav>

</a>
<ul id='animals'>
  <% @animals.each do |animal| %>
    <li>

     <h3><span class='life-count'>1</span> <span> | Hi my name is </span>
      <h2><%= animal.name %></h2>
   <a href= "/animals/:id">
      <img src='<%=animal.image_url%>' />
   </a>
      <% link_to('show this animal', animal_path(animal)) %>
    </li>
  <% end %>
</ul>
