<h1> A</h1>
<nav>
  <a class="link" href="/animals/new">New Creatures</a> /
   <%= link_to 'Blog', controller: 'articles' %>/
  <a class="link" href="/articles/new">Add Blog</a>/
  <a class="link" href="/animals/new">Make a Creature</a> /
  <a class="link" href="/animals">Cool Creatures</a>
   <li><a class="link" href="/welcomes">Home</a></li>

</nav>
</a>
<ul id='animals'>
  <% @animals.each do |animal| %>
    <li>

     <h3></span> <span> | Hi my name is </span>
      <h2><%= animal.name %></h2>
   <a href= "/animals/:id">
      <img src='<%=animal.image_url%>' />
   </a>
      <% link_to('show this animal', animal_path(animal)) %>

    </li>
  <% end %>
</ul>
