<a class="link" href="/animals/new">Art Cart</a> /
<%= link_to 'Back', animals_path %>/
...
<%= link_to 'Edit', edit_article_path(@article) %> |
<table>

<p>
  <strong> Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong> Description:</strong>
  <%= @article.description %>
</p>


