<!DOCTYPE html>
 <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media="all" href="/assets/application-cce0d25b774da360fb395fa3781e1653b32b2b889c87d48a0994fd3496b145a3.css" data-turbolinks-track="true" />
<html>
<head>
  <title>Juliet Brown</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application' %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <script type='text/javascript' src='./javascripts/loading.js'></script>

  <%= csrf_meta_tags %>
</head>
<body>
   <div id='div-container'></div>

<%= yield %>

</body>
</html>
