/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  position: relative;
}


body {
  font-family: Lato;
  text-align: center;
  padding: 20px;
}

h1, h2, h3
  margin: 0;
}

h1 {
  font-size: 60px;
}

h4 {
  font-size: 20px;
  margin: 20px;
}

/* line 33, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

/* line 38, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 43, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
ul#animals li {
  border: 2px solid black;
  padding: 10px;
  width: 500px;
  margin: 20px auto;
}

/* line 50, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
p {
  width: 500px;
  font-size: 16px;
  margin: 20px auto;
  word-wrap: break-word;
}

/* line 56, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
input {
  border: 1px solid black;
  width: 300px;
  text-align: center;
  padding: 4px;
}

/* line 62, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
input[type="submit"] {
  background: transparent;
  transition: 0.5s;
}
/* line 65, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
input[type="submit"]:hover {
  border-color: transparent;
}

/* line 69, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
textarea {
  width: 300px;
  height: 200px;
  text-align: center;
}

/* line 74, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
a.link {
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
  transition: 0.5s;
}
/* line 79, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
a.link:hover {
  border-color: transparent;
}

/* line 83, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
#error_explanation {
  font-size: 12px;
  color: red;
}

/* line 87, /Users/eugenelynch/code/fuckafucka/meowtown/app/assets/stylesheets/cats.scss */
span.life-count {
  font-size: 14px;
  background: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  bottom: 2px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


